{{ if isset .Site.Params "testimonials" }}
{{ if .Site.Params.testimonials.enable }}
{{ if isset .Site.Data "testimonials" }}
{{ if gt (len .Site.Data.testimonials) 0 }}
<section class="bar hp-testimonials no-mb">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading text-center">
                    <h2 class="hp-section-label">{{ i18n "testimonialsTitle" }}</h2>
                </div>

                <p class="hp-section-subtitle text-center">
                  {{ i18n "testimonialsSubtitle" | markdownify }}
                </p>

                <ul class="owl-carousel testimonials same-height-row"
                    data-items="{{ default 4 .Site.Params.CarouselTestimonials.items }}"
                    data-autoplay="{{ default false .Site.Params.CarouselTestimonials.auto_play }}"
                    data-slide-speed="{{ default 2000 .Site.Params.CarouselTestimonials.slide_speed }}"
                    data-pagination-speed="{{ default 1000 .Site.Params.CarouselTestimonials.pagination_speed }}">
                    {{ range .Site.Data.testimonials }}
                    <li class="item">
                        <div class="testimonial same-height-always hp-testimonial-card">
                            <div class="hp-testimonial-card__quote-icon">
                                <i class="fas fa-quote-left"></i>
                            </div>
                            <div class="hp-testimonial-card__text">
                                {{ if eq site.Language.Lang "fr" }}
                                    <p>{{ .text.fr | markdownify }}</p>
                                {{ else }}
                                    <p>{{ .text.en | markdownify }}</p>
                                {{ end }}
                            </div>
                            <div class="hp-testimonial-card__author">
                                {{ with .avatar }}<img alt="" src="{{ . | absURL }}">{{ end }}
                                <h5>{{ .name }}</h5>
                                <p>
                                    {{ if eq site.Language.Lang "fr" }}
                                        {{ .position.fr }}
                                    {{ else }}
                                        {{ .position.en }}
                                    {{ end }}
                                </p>
                            </div>
                        </div>
                    </li>
                    {{ end }}
                </ul>
            </div>
        </div>
    </div>
</section>
{{ end }}
{{ end }}
{{ end }}
{{ end }}
